@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit Browsers */
::-webkit-scrollbar {
    display: none;
    width: 2px;
    border-radius: .5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track background */
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Scroll handle */
    border-radius: .5rem;
}


/* For Firefox */
* {
    scrollbar-width: thin;
}